<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Todo App</title>
</head>
<body>
    <h1>Todos</h1>
    <ul>
        {% for task in tasks %}
        <li>
            <span {% if task['status']=='Done' %} style="text-decoration: line-through" {% endif %}>{{ task['task'] }}</span>
            <a href="{{ url_for('check', index=loop.index0) }}">Check</a>
            <a href="{{ url_for('edit', index=loop.index0) }}">Edit</a>
            <a href="{{ url_for('delete', index=loop.index0) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add') }}" method="post">
        <input type="text" name="task">
        <button type="submit">Add task</button>
    </form>
</body>
</html>