<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('node_modules', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>First Todo App</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>My Tasks</h1>
        </div>
        <div class="task-list">
            <ul>
                {% for group in tasks_grouped.keys() %}
                    <h2>{{ group }}</h2>
                    {% for task in tasks_grouped[group] %}
                    <li>
                        <span>{{ task['task'] }}  ({{ task['status'] }}) ({{ task['due_date'] }})</span>
                        <a href="{{ url_for('modify', task_id=task['task_id']) }}" class="btn btn-outline-primary">Modify</a>
                        <a href="{{ url_for('delete', task_id=task['task_id']) }}" class="btn btn-outline-danger">Delete</a>
                    </li>
                    {% endfor %}
                {% endfor%}
            </ul>
        </div>
        <div class="add-task">
            <form action="{{ url_for('add') }}" method="post">
                <h2>Add new task</h2>

            <form class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" name="task" placeholder="Task">
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" name="tag" placeholder="Tag">
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <input type="date" class="form-control" name="due_date">
                    </div>
                </div>
              
                <div class="col-12">
                  <button type="submit" class="btn btn-outline-primary">Add</button>
                </div>
              </form>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="{{ url_for('node_modules', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>